# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_APOGEE

config ZMK_KEYBOARD_NAME
    default "Apogee"

config ZMK_USB
    default y

config ZMK_BLE
    default y

# I2C for MCP23017 and OLED
config I2C
    default y

if # ZMK_DISPLAY

config EC11
    default y

endif # SHIELD_APOGEE
