name: Build ZMK Firmware

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    strategy:
      fail-fast: false
      matrix:
        include:
          - board: nice_nano
            shield: apogee
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: West init
        run: west init -l config

      - name: West update
        run: west update

      - name: West Zephyr export
        run: west zephyr-export

      - name: Build firmware
        run: west build -s zmk/app -d "build/${{ matrix.board }}-${{ matrix.shield }}" -b "${{ matrix.board }}"  -- -DZMK_CONFIG="${GITHUB_WORKSPACE}/config" -DSHIELD="${{ matrix.shield }}"

      - name: Rename firmware
        run: cp "build/${{ matrix.board }}-${{ matrix.shield }}/zephyr/zmk.uf2" "${{ matrix.board }}-${{ matrix.shield }}.uf2"

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.board }}-${{ matrix.shield }}-firmware
          path: ${{ matrix.board }}-${{ matrix.shield }}.uf2
